# Gradle
.gradle/
build/

# Configuración local
local.properties

# Archivos del sistema / logs
*.log
.DS_Store
Thumbs.db

# Android Studio / IntelliJ
.idea/
*.iml

# Archivos generados por Android
captures/
.externalNativeBuild/
.cxx/
output-metadata.json
*.apk
*.aab

# Keystores
*.jks
*.keystore

# Google Services
google-services.json

# Perfilado / memoria
*.hprof


# Google Services (e.g. APIs or Firebase)
google-services.json

# Android Profiling
*.hprof
